* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", Arial, sans-serif;
  font-size: clamp(16px, 1.2vw, 22px);
  line-height: 1.6;
  background-color: #5A6772;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Header*/
header {
  background-color: #3fa9f5;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(12px, 1vw, 24px) clamp(16px, 2vw, 32px);
}

.banner-left h1 {
  font-size: clamp(2rem, 2vw, 3rem);
}

.banner-left a {
  text-decoration: none;
  color: inherit;
}

.banner-right {
  display: flex;
  gap: clamp(8px, 1vw, 16px);
}

.nav-button {
  text-decoration: none;
  color: #ffffff;
  padding: clamp(6px, 0.5vw, 12px) clamp(12px, 1vw, 24px);
  border-radius: 8px;
  background-color: #1a75d2;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  transition: background-color 0.2s ease;
}

.nav-button:hover {
  background-color: #145ea8;
}

main {
  flex: 1 0 auto;
  padding: clamp(24px, 2.5vw, 48px);
  margin: 0;
}

.about-summary{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.about-summary h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  color: #3fa9f5;
}

.about-summary p {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  line-height: 1.5;
}

/*Projects Grid*/
.projects h2 {
  text-align: center;
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: #3fa9f5;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  gap: 6.5vw;
  max-width: 90vw;
  margin: 0;
}

.project-grid a {
  text-decoration: none;
  color: inherit;
  flex: 1 1 17vw;
  
  min-width: 200px;
  max-width: 450px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-card img {
  width: 100%;
  max-width: clamp(200px, 17vw, 500px);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project-card:hover img {
    transform: scale(1.05);
}

.project-card h3 {
  font-size: clamp(1.2rem, 2vw, 2rem);
  margin-bottom: 0.5rem;
  color: #3fa9f5;
}

.project-card p {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  color: #ffffff;
  line-height: 1.4;
  width: 120%;
  max-width: 500px;
}

.project-card figcaption{
    max-width: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

/*Projects1/2/3*/
.side-main-container {
    display: flex;
    gap: 3vw;
    justify-content: center;
    padding: 16px;
    align-items: flex-start;
}

.project-header {
    font-size: clamp(16px, 2.5vw, 48px);
    text-align: center;
}


#link {
  display: block;
  margin: 0.5rem auto;
  max-width: 300px;
  text-align: center;
  font-size: clamp(16px, 2vw, 32px);
  color:#3fa9f5;
  font-weight: bold;
}

main.project-body {
    max-width:clamp(550px, 50vw, 1000px);
    margin: 0;
    justify-content: center;
    padding: 0 !important;
}

.project-body img{
    padding-top: 2rem;
    padding-bottom:2rem;
    display: flex;
    margin: 0;
    max-width: clamp(550px, 50vw, 1000px);
    width: auto;
    justify-self: center;
    max-height: 60vh;
}

.project-body h3{
    font-size: clamp(16px, 1.5vw, 32px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #3fa9f5;
}

.project-body p{
    width: clamp(550px, 50vw, 1000px);
}

.project-body ul{
    padding-left: 1.5rem;
}

.footnote {
    font-size: clamp(12px, 1.2vw, 18px);
}

#conclusion,
#outcome,
#reflection{
  padding-bottom: 5vh;
}

.about {
  width: clamp(300px, 60vw, 1000px);
  margin: 0 auto;
  
}

.about h2 {
  color:#3fa9f5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about h3 {
  color: #3fa9f5;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about ul {
  padding-left: 1.6rem;
}

.resume-container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem;
}

.resume-down {
    display: flex;
    justify-content: right;
    padding-bottom: 1.5rem;
}

.resume-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

.download-button {
    display: inline-flex;
    align-items: center;
    padding: 0.6rem 1rem;
    background-color: #1a75d2;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(12px, 1vw, 18px);
    transition: background-color 0.2s ease, transform 0.2s ease;
    cursor: pointer;
}

.download-button:hover {
    background-color: #145ea8;
}

.sidebar {
  position: fixed;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  left: 5vw;
  background-color: #414141;
  padding: 1.5rem;
  width: 170px;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  padding-top: 0.5rem;
  padding-bottom:  0.5rem;
}

.sidebar a {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;

}

.sidebar a:hover {
  color: #3fa9f5;
  text-decoration: underline;
  transition: color 0.3s ease, transform 0.3s ease;
}


.top-page {
  position: fixed;
  bottom: 10vh;
  left: 5vw;
  transform: translateX(calc(75px - 2vh));
  background-color: #1a75d2;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  color: white;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.top-page:hover {
  background-color: #297bb6;
  /*Move up slightly*/
  transform: translateX(calc(75px - 2vh)) translateY(-20%) scale(1.1);
}


/*Footer*/
footer {
  background-color: #3fa9f5;
  color: #ffffff;
  text-align: center;
  padding: clamp(12px, 1vw, 24px);
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

footer a:hover {
  text-decoration: underline;
}

/*Hamburger menu*/
/*hide checkbox*/
.checkMenu {
  display: none;
}

.hamburger {
  /*display: none*/
  display: none;
  position: fixed;
  top: calc(4vw + 60px);
  left: 5vw;
  width: 4.5vh;
  height: 4.5vh;
  background-color: #1a75d2;
  color: white;
  font-size: 2.5vh;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

/*Tablets
Just the projects page needs changed*/
@media(max-width: 1120px){

  .top-page {
    padding: 0rem;
    left: 2rem;
    transform: translateX(0);
    bottom: 4rem;
  }

  .hamburger {
    display: flex;
    left: 2rem;
  }

  .sidebar{
    display: none;
    left: 2rem;
  }

  .checkMenu:checked ~ .sidebar {
    display: flex;
  }

  .top-page:hover {
  background-color: #297bb6;
  /*Move up slightly for visual effect*/
  transform: translateX(0) translateY(0) scale(1.1);
  }
  .project-body h3 {
    font-size: 20px;
  }

}

/*Mobile*/
@media (max-width: 825px) {

  main.project-body {
    max-width:90vw;
  }

  .project-grid {
    flex-direction: column;
    align-items: center;
  }

  .project-grid a {
    flex: 1 1 90%;
    max-width: 90%;
  }

  .project-grid h3 {
    width: 50vw;
  }

  .project-grid p{
    width: 80vw;
  }

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .banner-right {
    width: 100%;
    justify-content: center;
  }
  
  .project-body {
    width: 90vw;
    padding-right: 16px;
  }

  .project-body img{
    max-width: 90vw;
    max-height: 60vh;
  }

  .project-body p {
    width: 90vw;
  }

  .project-header{
    font-size: clamp(25px, 3vw, 32px);
  }

  .about h2 {
    padding-top: 0rem;
    text-align: center;
  }


  .banner-left h1 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
  }

  .nav-button {
    font-size: clamp(1rem, 3vw, 1.2rem);
    padding: clamp(4px, 1vw, 8px) clamp(8px, 2vw, 16px);
  }

  .sidebar {
    width: 120px;
    padding: 0.6rem;
  }

  .sidebar a {
    font-size: 14px;
    padding-right: 0;
  }

  .hamburger {
    background-color: #1a75d2;
    top: 40px;
    left: 1.5rem;
  }

  .top-page {
    left: 1.5rem;
  }

  .home-link h1 {
    font-size: 2rem;
  }
}

/*Modal*/
.modal {
  display: none; /*kept coming up on site openeing without this*/
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  
}

.modal-content {
  margin: auto;
  max-width: 90%;
  max-height: 80vh;
}

.modal-img {
      cursor: pointer;
}




